@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


:root {
  --primary-white: #fff;
  --primary-orange:#f9ab00;

}

body{
  font-family: "Roboto Condesed" Arial, Helvetica, sans-serif;
}
/* ****************************  Nav bar ************** */
.logo{
  width: 5.20rem;
}

/* ----------------- nav link */
nav a.nav-link {
  letter-spacing: 0.03rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.35rem;
  color: var(--primary-white) !important;
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 5rem !important;
}

.collapse > navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-bottom: 0.1875 solid var(--primary-orange);
}


